
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1473385443'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1473385443#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1473385443') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1473385443') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1473385443#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiaoxi:before { content: "\e66a"; }
.icon-gouwuche:before { content: "\e653"; }
.icon-shoucang:before { content: "\e61b";font-size:12px;line-height:14px; }
.icon-star-copy:before { content: "\e686"; }
.icon-shoucang1:before { content: "\e673"; font-size:36px;}
.icon-shoucang2:before { content: "\e603";font-size:20px;}
.icon-shoucang3:before { content: "\e623";font-size: 12px; }
.icon-shoucang4:before { content: "\e70a"; }
.icon-xinxing:before { content: "\e617";padding-left:5px;color:#FF4400; }
.icon-shixinduobianxing:before { content: "\e613";}
.icon-shangjiantou:before { content: "\e6aa"; }
.icon-jiantou:before { content: "\e601"; }
.icon-icon-copy-copy:before { content: "\e606"; }
.icon-icon-copy-copy1:before { content: "\e605"; }
.icon-jiantou1:before { content: "\e60c"; }
.icon-jiantou-copy-copy-copy:before { content: "\e61f"; }
.icon-jiantou-copy-copy-copy1:before { content: "\e620";color:#f1f1f1;margin-left:52px; }
.icon-jiantou2:before { content: "\e65e"; }
.icon-arrowRight-copy:before { content: "\e677";font-size:12px; }
.icon-arrow-right-sm:before { content: "\e604"; }
.icon-arrow-left-sm:before { content: "\e605"; }
.icon-erweima:before { content: "\3436"; }
.icon-552cd42559c1a:before { content: "\e626";font-size:14px; }
.icon-quanwangremaipaixing:before { content: "\e68a";}
.icon-tejiaremaidianji:before { content: "\e69a";font-size:58px;color:#F16101;}
.icon-maimaimai:before { content: "\e632"; }
.icon-temai:before { content: "\e625"; }
.icon-temai1:before { content: "\e602"; font-size:88px;}
.icon-remen:before { content: "\e606";font-size:36px; }
.icon-fanhuidingbu:before { content: "\e60f"; }
.icon-fanhuidingbu1:before { content: "\e609";}
.icon-fanhuidingbu2:before { content: "\e60c"; font-size:36px; }
.icon-mzhandaohang1:before { content: "\e62d";margin-top:-2px;font-size: 12px; }
.icon-wangwang:before { content: "\e687";color:#5d96d9;font-weight:800;margin-right:5px;}
.icon-yuandian:before { content: "\e613"; }
.icon-buoumaotubiao40:before { content: "\e624"; }
.icon-keai:before { content: "\f0069";color:#333;}
.icon-jiage:before { content: "\e652"; }
